<!-- <div class="card alert ">
  <div class="card-header alert alert-primary" role="alert">
    <div class="row">
      <div class="col-md-1"><img src="{{user.AvatarUrl}}" class="rounded mx-auto d-block img-fluid img-thumbnail float-left" style="height:50px "alt="..."></div>
    <div class="col-md-3">
      <h2 class="text text-primary text-left"><i class="fa fa-user-circle-o" aria-hidden="true"></i><span>{{user.name}}</span></h2>
    </div>
    </div>

  </div>
  <div class="card-body">
    <h5 class="card-title">{{post.heading}}{{post.like}}</h5>
    <p class="card-text">{{post.description}} <a href="{{post.links}}">know more</a> </p>
  </div>
  <div class="card-footer text-info alert alert-info">
    <div class="row">
      <div class="col-md-2"><app-like [likeInput]='post.like'></app-like>
      &nbsp;<app-views [views]='post.view'></app-views></div>

<div class="col-md-2 text-center"><span><mat-icon>date_range</mat-icon>{{post.date}}</span></div>
<div class="col-md-3"><mat-icon>bookmark</mat-icon>&nbsp;<span *ngFor='let tag of post.tags'>{{tag}}&nbsp;</span></div>
<div class="col-md-2"></div>
    </div>

  </div>
</div> -->

<div class="col s12 m12">
    <div class="card horizontal hoverable">
        <div class="card-stacked ">
            <!-- <div class="row ">

                <div class="col s3">
                    <div class="card-image">
                        <img src="{{user.AvatarUrl}}" class="img-responsive left" style="height:36px;margin:16.4px 0px 0px 12px">
                    </div>
                    <h5 class="text-left  left">&nbsp;{{user.name}}</h5>
                </div>

            </div> -->
        
     <span class="card-title">{{post.heading}}</span>
 
            
            <mat-divider></mat-divider>
            <div class="card-content " style="padding-top:2px">
               

                <p>{{post.description}}</p>
            </div>

            <div class="card-action ">
                <div class="row">
                  <div class="col chip s2">
                 
    <img src="{{user.AvatarUrl}}" alt="Contact Person">
    {{user.name}}

                  </div>
                    <div class="col s4 m2 chip">
                     
                        <app-like [likeInput]='post.like'></app-like>
                        &nbsp;
                        <app-views [views]='post.view'></app-views>
                    
                      </div>
                        

                    <div class="col s2 m2 text-center chip">
                     <span>
                      <mat-icon>date_range</mat-icon>{{post.date}}</span></div>
                   
                    <div class="col S2 m2 chip">
                        <mat-icon>bookmark</mat-icon>&nbsp;<span *ngFor='let tag of post.tags'>{{tag}}&nbsp;</span></div>
                    <div class="col S2 m2 "></div>
                </div>
            </div>
        </div>
    </div>
</div>
