<nav class="navbar navbar-expand-sm bg-primary navbar-dark  justify-content-between sticky-top">
  <ul class="navbar-nav clearfix">
    <li class="nav-item active">
      <a class="nav-link" routerLink='/'><i class="fa fa-home fa-2x"></i></a>
    </li>
    <li class="nav-item active d-none d-md-block">
        <a class="nav-link navbar-brand" routerLink='/'><span class="text text-white"><strong> Projector App</strong></span></a>
      </li>
    </ul>
  <div class="btn-group" dropdown placement="bottom right">
      <button id="button-alignment" dropdownToggle type="button"
              class="btn btn-primary dropdown-toggle" aria-controls="dropdown-alignment">
        <i class="fa fa-user fa-2x"></i> &nbsp;<span class="caret
        "></span>
      </button>
      <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right bg-dark text-white"
          role="menu" aria-labelledby="button-alignment">
        <li role="menuitem"><a class="dropdown-item" (click)='login()' *ngIf='!obj.isloggedIn()'>login &nbsp;<i class="fa fa-sign-in"></i></a></li>
        <li role="menuitem" ><a class="dropdown-item" (click)='signup()' *ngIf='!obj.isloggedIn()'>Signup &nbsp;<i class="fa  fa-user-plus"></i></a></li>
        <li role="menuitem" ><a class="dropdown-item" (click)='edit()' [class.disabled]='!obj.isloggedIn()'>Manage Profile &nbsp;<i class="fa fa-wrench"></i></a></li>
        <li role="menuitem" ><a class="dropdown-item" (click)='submit()' [class.disabled]='!obj.isloggedIn()'>Submit Post &nbsp;<i class="fa  fa-edit"></i></a></li>
       
        <li class="divider dropdown-divider" *ngIf='obj.isloggedIn()'></li>
        <li role="menuitem"><a class="dropdown-item"(click)='logout()' *ngIf='obj.isloggedIn()'>logout &nbsp;<i class="fa fa-sign-out"></i></a></li>
      </ul>
    </div>
</nav>
