<div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-md-8 offset-md-2">
    
                <div class="card ">
                    <div class="card-header bg-success text-white">
                        <h4 class="text-center">Submit Post</h4>
                    </div>
    
                    <form [formGroup]='form' (ngSubmit)='submit()' enctype="multipart/form-data">
                        <div class="card-body">
    
                            <div class="form-group col-md-6">
                                <label class="active" for="heading">Heading</label>
                                <input id="heading" type="text" class="validate form-control" data-length="150" formControlName='heading' placeholder="Enter Heading">
                                <!--input 1-->n
                                <small *ngIf='Heading.touched && Heading.hasError("required")'>Heading is required</small>
                                <small *ngIf='Heading.hasError("minlength")'>Heading is too short</small>
                                <small *ngIf='Heading.hasError("maxlength")'>Heading is too long</small>
                            </div>
                            <div class="form-group">
                                <label for="details">Textarea</label>
                                <textarea id="details" class="form-control" formControlName='details' placeholder="Enter Post Details"></textarea>
                                <!--input 2-->
                                <small *ngIf='GetDetails.touched && GetDetails.hasError("invalid")'>Details are required</small>
                            </div>
                            <div class="form-group">
    
                                <input type="file" id='file' class="form-control-file border" multiple ng2FileSelect [uploader]="uploader">
                                <!--input 3-->
                                <div class="row" *ngFor="let item of uploader.queue">
                                    <div class="col-md-4">{{item.file.name}}</div>
                                    <div class="col-md-4">
                                        <div class="progress">
                                            <div class="progress-bar bg-success" [ngStyle]="{width:item.progress+'%'}">
    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <button class="btn btn-dark" (click)="item.upload()">Upload</button>
                                        <button class="btn btn-danger" (click)="item.remove()">Remove</button>
                                    </div>
                                </div>
                                <div class="row" *ngIf='uploader?.queue?.length >0'>
                                    <button class="btn btn-primary" (click)='uploader.uploadAll()'>Upload All </button>
                                </div>
    
                            </div>
    
                            <div class="form-group">
                                <select [(value)]="selected" multiple placeholder="Tags" formControlName='tags' id='tags'>
                                    <!--input 4-->
                                    <option disabled>Select a tag</option>
                                    <option value="option1">tag 1</option>
                                    <option value="option2">tag 2</option>
                                    <option value="option3">tag 3</option>
                                </select>
    
                                <p>You selected: {{selected}}</p>
                            </div>
                            <div class="form-group">
                                <label for="newTags">Add new Tags</label>
                                
                                <input id="newTags" type="text" class="validate" data-length="150" (keyup.enter)="addTag(Newtag)" placeholder="Press enter" #Newtag>
                                <ul>
                                    <li *ngFor="let tags of NewTag.controls" (click)='RemoveTopic(tags)'>
                                        {{tags.value}}
                                    </li>
                                </ul>
                            </div>
                        
                            <div class="card-footer bg-secondary text-white">
                                <button class="btn btn-primary" type="submit" name="action">Submit
                                    <i class="material-icons left">send</i>
                                </button>
                                <button class="btn btn-danger" type="reset" name="action">Reset
                                    <i class="material-icons right">rotate_left</i>
                                </button>
                            </div>
                            </div>
                        </form>
                    </div>
                    
    
                    </div>
    
                </div>
            </div>
