<div class=" card hoverable">
  <div class="row">
    <div class="col m4">
    
  <button mat-stroked-button value="bold" class='red lighten-4 white-text btn-small' routerLink='/' >Home<mat-icon>keyboard_arrow_right</mat-icon>
  </button>
   <button mat-stroked-button value="bold" class='red lighten-4 white-text btn-small' routerLink='/' >Post<mat-icon>keyboard_arrow_right</mat-icon>
  </button>
   <button mat-stroked-button value="bold" class='red lighten-4 white-text btn-small' routerLink='/' >Post 1<mat-icon>keyboard_arrow_right</mat-icon>
  </button> 
    </div>
    <div class="col m4">
      <div class="input-field">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">First Name</label>
        </div>
    </div>
  </div>
</div>
