<carousel class="shadow m-1">
  <slide>
    <div class="text-center py-5 bg-info text-white">
      <h2> <strong> Projector APP</strong></h2>
      <div class="lead">
        <h3>About Us</h3>
        <p>A place to find and solve Coding <i>Challenges</i></p>
      </div>
    </div>
  </slide>
  <slide>
    <div class="text-center py-5 bg-warning text-white">
      <h2><Strong>Signup and start your Journey</Strong></h2>
      <div class="lead">
        <h3><i>Just</i> Add a valid <i>email</i> and password and get going</h3>
        <p><small>We'll be adding google and facebook authentication soon stay tuned</small></p>
      </div>
    </div>
  </slide>
  <slide>
    <div class="text-center py-5 bg-success text-white">
      <h2>Designed and Developed By</h2>
      <div class="lead">
        <h3><strong> <a href="https://www.linkedin.com/in/harsh-bhanot-42482b92" class="text-white">Harsh Bhanot</a></strong></h3>
        <p> <small>A web Developer looking for challenges</small></p>
      </div>
    </div>
  </slide>
</carousel>